/* высота на всю страницу и запрет прокрутки окна */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* стабильная вёрстка редактора */
#root, #__next {
  height: 100%;
}

:root {
  /* отключаем рывки при скролле тачпадом/колесом */
  overscroll-behavior: none;
}
